body{
  text-align: center;
}
ul{
  list-style-type: none;
  font-family: helvetica;
  font-size:  18px;
  color: white;
}

.heading{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

h1{
  font-family: Helverica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
